<table>
  <tr>
    <td>
      <h4>Get Evercookie by name</h4>
    </td>
    <td>
      <%= form_tag(index_get_path, method: :get) do -%>
          <%= text_field_tag :ec_name %>
          <%= submit_tag 'Get Cookie Value' %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Set Evercookie by name</h4>
    </td>
    <td>
      <%= form_tag(index_set_path, method: :get) do -%>
          <%= text_field_tag :ec_name %>
          <%= text_field_tag :ec_value %>
          <%= submit_tag 'Set Cookie Value' %>
      <% end %>
    </td>
  </tr>
</table>
